.input {
  border-radius: 15px;
  text-align: center;
  font-family: sans-serif;
  display: inline-block;
  position: absolute;
  top: 10%;
  bottom: 50%;
  z-index: 3;
  border: 0;
  outline: 0;
  width: calc(40% + 100px);
}

.input input {
  padding-left: 20px;
  outline: 0;
  width: calc(40% + 100px);
  height: 30px;
  font-size: 14px;
  border-radius: 15px;
  border: 0;
}

.options {
  list-style: none;
  padding-left: 15px;
  background-color: #fff;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 15px;
  margin-top: -1px;
  max-height: 195px;
  z-index: 10;
  overflow: scroll;
  width: calc(40% + 100px);
}

.options li {
  float: none;
  display: inline-block;
  cursor: pointer;
  margin-top: 3px;
}

.thumb {
  width: 30%;
  white-space: wrap;
  position: relative;
  float: left;
}

.thumb img {
  float: left;
  height: 100%;
  width: 100%;
}

.optionname {
  text-align: left;
  width: 70%;
  float: right;
  font-size: 15px;
  white-space: nowrap;
}
